---
- name: Terminate if homebrew is not installed.
  command: which homebrew
  register: homebrew_is_installed
  failed_when: homebrew_is_installed.rc >= 1

- homebrew:
    name: "{{ item }}"
    state: present
    update_homebrew: yes
  with_items: "{{ brew_pkgs }}"

- homebrew:
    name: "{{ item }}"
    state: absent
  with_items: "{{ brew_deleted_pkgs }}"

- homebrew:
    name: "{{ item }}"
    state: linked
  with_items: "{{ brew_linked_pkgs }}"

- homebrew_cask:
    name: "{{ item }}"
    state: present
    install_options: 'appdir=/Applications'
  with_items: "{{ brew_cask_pkgs }}"

- homebrew_cask:
    name: "{{ item }}"
    state: absent
  with_items: "{{ brew_cask_deleted_pkgs }}"
